@import '../../../colors.scss';

header {

    margin-bottom: 10px;

    box-shadow: inset 0px 0px 0px 1px $color-border;

    background-color: $color-container;
}

.navbar {
    display: grid;
    grid-template-columns: 1fr 4fr;
    margin: 0 auto;
}

.navbar-logo {

    display: flex;
    justify-content: flex-start;
    align-items: center;


    img {
        max-height: 39px;
        margin: 0 auto;
    }
}

.navbar-links {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;

    padding: 0;
    list-style-type: none;

    a {
        margin: 0 10px;
        font-size: 16px;
        text-decoration: none;

        &:visited {
            text-decoration: none;
            color: black;
        }

        &:hover {
            text-decoration: underline;
            color: $color-link-hover;
        }

    }
}