@import '../../colors.scss';
@import '../../mixins.scss';

.card-list{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 10px;
}

.card{
    position: relative;
    width: 100%;
    margin-bottom: 50px;
    padding: 5px 0;
    @include border;
}

.card-logo {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    justify-content: center;
    flex-direction: column;

    width: 80px;
    height: 80px;
    @include border;
    border-radius: 50%;

    font-size: 36px;
    text-align: center;
}

.card-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 50px 10px 10px 10px;
    background: $color-container;
}

.card-content-image {
    width: 100%;
}

.card-content-text {
    padding: 5px;
    bottom: 0;
    color: $color-text;
    
    font-family: OpenSans;
    font-size: 14px;
    text-decoration: none;
}

@media (min-width: 576px) { 
    .card-content{
        display: flex;
        flex-direction: column;
    }
 }

 
