@import "../../colors.scss";
@import '../../mixins.scss';

.info-box{

    margin-bottom: 10px;
    padding: 20px;

    @include border;

    p{
        font-family: OpenSans;
        font-size: 13px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.25;
        letter-spacing: normal;
        text-align: left;
        color: #263238;
    }
}

.info-box-title{
    font-family: OpenSans;
    font-size: 20px;
    font-weight: 600;
    color: $color-text;
}

.info-box-subtitle{
    font-family: OpenSans;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.43;
    letter-spacing: normal;
    text-align: left;
    opacity: 0.6;
    color: $color-text;
}

