@import '../../../colors.scss';

.footer {
    bottom: 0;
    left: 0;

    display: flex;
    bottom: 0;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    box-shadow: inset 0px 0px 0px 1px $color-border;
    height: 60px;
    width: 100%;


    text-align: center
}