.carousel {
    position: relative;

    margin: 0;
    margin-bottom: 50px;
    width: 100%;

    &:hover .main-picture {
        opacity: 0.5;
        transition: .5s ease;
    }

    &:hover .picture-text {
        opacity: 1;
        transition: .5s ease;
    }
}



.carousel-image {
    width: 100%;
    max-height: 600px;
    transition: .5s ease;
}

.carousel-controls {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    button {
        position: absolute;
        bottom: 50%;
        color: gray;
        font-size: 40px;
        border: none;
        padding: 0;
        opacity: 0.5;

        &:nth-child(1) {
            left: 2%;
        }

        &:nth-child(2) {
            right: 2%;
        }
    }
}